@import "../common.less";
body {
    min-width:320px;
    width:15rem;// 750 / 50
    margin:0 auto;
    line-height: 1.5;
    font-family: Arial, Helvetica;
    background: #fff;
}

@baseFont: 50;

.w {
    width:15rem;
}
.h {
    height: 450rem / @baseFont;
}
.diaryC {
    position: relative;
    .bg-d {
        position: relative;
        background:#b0e6d1;
        
    }
    #camera {
        position: absolute;
        width: 100rem / @baseFont;
        height: 100rem / @baseFont;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-20%);
        z-index: 2;
    }
}

//diaryDetail
.detail {
    position: relative;
    top: 100rem / @baseFont;
    .diarycontent {
        position: relative;
        left: 40rem / @baseFont;
        top: 30rem / @baseFont;
    }
    .contentTitle {
        position: relative;
        font-size: 58rem / @baseFont;
    }
    .smallword {
        font-size: 30rem / @baseFont;
        color: #707070;
        letter-spacing: 10rem / @baseFont;
      }
}
.edit_container {
    position: relative;
    top: 160rem / @baseFont;
    left: 10rem / @baseFont;
}

//drafts
.drafts {
    position: relative;
    top: 80rem / @baseFont;
    .dlist {
        margin-top: 20rem / @baseFont;
        margin-left: 40rem / @baseFont;
        
    }
    .dimg {
        width: 200rem / @baseFont;
        height: 200rem / @baseFont;
        float:left;
    }
    .itemcontent {
        letter-spacing: 6rem / @baseFont;
        margin-top:1px;
        width:60%;
        font-size: 40rem / @baseFont;
    }
}

//list
.dList {
    margin-top: 110rem / @baseFont;
    .diarylist{
        position: relative;
        width:94%;
        height: 300rem / @baseFont;
        left: 20rem / @baseFont;
        border-radius:10px;
        margin-bottom: 30rem / @baseFont;
        box-shadow: #eeeded 0px 0px 2px 2px;
      }
      #listLeft{
        position: relative;
        top: 40rem / @baseFont;
        left: 30rem / @baseFont;
        width:56%;
        height:260rem / @baseFont;
        float: left;
      }
      #titles{
        position: absolute;
        font-size: 50rem / @baseFont;
        margin-top: 20rem / @baseFont;
      }
      #moods{
        position: relative;
        top: 80rem / @baseFont;
        font-size: 30rem / @baseFont;
        color:#707070;
        letter-spacing: 10rem / @baseFont;
      }
      #photos{
        float:left;
        margin-left: 40rem / @baseFont;
        margin-top: 30rem / @baseFont;
      }
      #photos img{
        border-top-right-radius: 10%;
        border-bottom-right-radius: 10%;
      }
}

  

  //mood
  
    .ask{
        position: relative;
        height: 60rem / @baseFont;
        top: 120rem / @baseFont;
        color:#666;
        left: 80rem / @baseFont;
        font-size: 40rem / @baseFont;
        letter-spacing: 10rem / @baseFont;
    }
    .moodimg {
        position: relative;
        top: 200rem / @baseFont;
        left: 280rem / @baseFont;
        width: 200rem / @baseFont;
        height: 200rem / @baseFont;
    }
    .moodsite {
        position: relative;
        top: 300rem / @baseFont;
        left: 60rem / @baseFont;
    }
    #moodName{
        position: relative;
        margin: 30rem / @baseFont;
        float: left;
        width: 160rem / @baseFont;
        height: 80rem / @baseFont;
        line-height: 80rem / @baseFont;
        border-radius: 3%;
        text-align: center;
        box-shadow: #eeeded 0px 0px 2px 2px;
    }
    .moodbtn {
        position: relative;
        top: 380rem / @baseFont;
        width: 500rem / @baseFont;
        left: 130rem / @baseFont;
    }

    //weather
    .allweather {
        .ask {
            position: relative;
            width: 200px;
            height: 20px;
            top: 100px;
            color: #666;
            left: 38px;
            font-size: 20px;
            letter-spacing: 3px;
        }
        .weathersite {
            position: relative;
            top: 260rem / @baseFont;
            left: 30rem / @baseFont;
        }
        .weatherImg {
            position: relative;
            top: 20rem / @baseFont;
            left: 20rem / @baseFont;
            width: 120rem / @baseFont;
            height: 120rem / @baseFont;
            
        }
    }
    


