html {
  font-size: 50px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.26666667px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
body {
  min-width: 320px;
  width: 15rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, Helvetica;
  background: #fff;
}
.w {
  width: 15rem;
}
.anniversary .anniContent {
  margin-top: 2rem;
}
.anniversary .outout {
  height: 2.6rem;
}
.anniversary .outout .anniversaryPic {
  float: left;
  width: 2rem;
  height: 2rem;
}
.anniversary .outout .anniversaryPic .anniversaryImg {
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 0.4rem;
}
.anniversary .outout .middlewords {
  float: left;
  width: 6rem;
  margin-left: 1rem;
}
.anniversary .outout .middlewords .annicontent {
  font-size: 0.8rem;
  letter-spacing: 2px;
}
.anniversary .outout .middlewords .svgicon {
  position: relative;
  top: 8px;
  font-size: 0.8rem;
}
.anniversary .outout .middlewords .svgicon .iconsvg {
  width: 1rem;
  height: 1rem;
}
.sumDay {
  float: left;
  width: 4rem;
}
.addnew {
  position: relative;
  margin-top: 40px;
}
.addimg {
  width: 2.6rem;
  height: 2.6rem;
  margin-left: 0.4rem;
}
.addwords {
  font-size: 0.8rem;
  color: #828282;
  position: relative;
  left: 1rem;
  top: -0.8rem;
  letter-spacing: 0.12rem;
}
.sumDayfont {
  position: relative;
  left: 2.6rem;
  color: #828282;
  font-size: 0.8rem;
}
.time {
  float: right;
}
